<div class="row text-center">
        <div class="col-lg-2">
            <a href= <%= @backlink %>> <button type="button" class="btn btn-primary"> <%= @back %> </button> </a> </div>
        <div class="col-lg-8">
            <a href='/info'><button type="button" class="btn btn-info">Info</button></div></a>
        <div class="col-lg-2">
            <a href= <%= @link %>> <button type="button" class="btn btn-primary"><%= @next_review %></button></div></a>
</div>