<div class="row">
        <div class="col-lg-2">
            <h2><%= @title %></h2>
        </div>
        <div class="col-lg-8"></div>
        <div class="col-lg-2">
            <a href="/"><button type="button" class="btn btn-danger">Save & Exit</button></div></a>
        </div>
    </div>
    