<div class="row">
    <div class="col-lg-2">
        <h2 style="padding:30px;"><%= @title %></h2>
    </div>
    <div class="col-lg-8"></div>
    <div class="col-lg-2">
        <div style="padding:30px;"><a href="/"><button type="button" class="btn btn-danger">Save & Exit</button></a></div>
    </div>
</div>