   <%# This is what the admin will see, the students shouldn't see 'Back' or 'More info' buttons %>    

        <div class="row text-center">
            <div class="col-lg-3">
                <a href="/admin/search">
                    <button class="btn btn-primary" type="submit">Back</button>
                </a>
            </div>
            <div class="col-lg-6"><a href='/information'>
                    <button class="btn btn-info" type="submit">Info</button>
                </a></div>
            <div class="col-lg-3">
                <a href="/student/review">
                    <button class="btn btn-info" type="submit">More info</button>
                </a>
            </div>
        </div>
