<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Student-Review</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

</head>

<body>

  <div class="row" style="text-align: center">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
      <div class="row"></div>
      <div class="row">
        <div class="col-lg-6 details">
          <div>Name :</div>
          <br>
          <div>Stream :</div>
        </div>
        <div class="col-lg-6 details">
          <div>Mark Scored :</div>
          <br>
          <div>Trainer :</div>
        </div>
      </div>
      <hr>
      <br>
    </div>

    <div class="col-lg-1"></div>

    <div class="container">
      <h2>Q.1 Write a query that lists all items.</h2>
      <br>
      <div class="panel panel-default" style="background-color:grey">
        <div class="panel-body">Answer</div>
      </div>

      <br>
      <p class="outcome">CORRECT</p>
      <br>
      <br>

      <h2>Q.2 Write a query that lists all items.</h2>
      <br>
      <div class="panel panel-default" style="background-color:grey">
        <div class="panel-body">Answer</div>
      </div>
      <br>
      <p class="outcome_wrong">WRONG</p>
      <br>
      <br>

      <h2>Q.3 Write a query that lists all items.</h2>
      <br>
      <div class="panel panel-default" style="background-color:grey">
        <div class="panel-body">Answer</div>
      </div>
      <br>
      <p class="outcome">CORRECT</p>
    </div>

  </div>
  <div class="row text-center">
    <div class="col-lg-2">
      <a href="/Student-Result-Admin.html"><button type="button" class="btn btn-primary">Back</button></div></a>
    <div class="col-lg-8">
      <a href="/information.html"><button type="button" class="btn btn-info">Info</button></div></a>
    <div class="col-lg-2">
      <a href='/student-review'> <button type="button" class="btn btn-primary">Home</button></div></a>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>
