  <div class="container">
    <div class="row warning">
      <h1>Warning!! Delete Class if all students are not entered into table!</h1>
    </div>
    <div class="row streamEnter">
      <div class="col-lg-3"></div>

      <div class="col-lg-6">
        <form class="form-inline">
          <div class="form-group mb-2">
            <label for="staticEmail" class="sr-only"></label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Email:">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputEmail" class="sr-only"></label>
            <input type="text" class="form-control" id="inputEmail" placeholder="">
          </div>
        </form>

        <form class="form-inline">
          <div class="form-group mb-2">
            <label for="staticFname" class="sr-only"></label>
            <input type="text" readonly class="form-control-plaintext" id="staticFname" value="First Name: ">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputFname" class="sr-only"></label>
            <input type="text" class="form-control" id="inputFname" placeholder="">
          </div>
        </form>

        <form class="form-inline">
          <div class="form-group mb-2">
            <label for="staticLname" class="sr-only"></label>
            <input type="text" readonly class="form-control-plaintext" id="staticLname" value="Last Name: ">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputLname" class="sr-only"></label>
            <input type="text" class="form-control" id="inputLname" placeholder="">
          </div>
        </form>

        <form class="form-inline">
          <div class="form-group mb-2">
            <label for="staticCourse" class="sr-only"></label>
            <input type="text" readonly class="form-control-plaintext" id="staticCourse" value="Course: ">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputLname" class="sr-only"></label>
            <input type="text" class="form-control" id="inputLname" placeholder="">
          </div>
        </form>
      </div>
      </form>


    </div>
    <div class="col-lg-3">
    </div>

    <div class="row tableOfStudents">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Student Name</th>
              <th>Email</th>
              <th>Password</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kirpal</td>
              <td>kirpal@hotmail.com</td>
              <td></td>
            </tr>
            <tr>
              <td>Raiyan</td>
              <td>raiyan@hotmail.com</td>
              <td></td>
            </tr>
            <tr>
              <td>Ian</td>
              <td>scrummaster@hotmail.com</td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row createDelete">

    </div>



  </div>