<nav class="navbar navbar-expand-lg navigation-bar">
  <img class="sparta-logo" src="/Assets/SpartaLogo.png" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Classes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Bussiness 20</a>
          <a class="dropdown-item" href="#">Bussiness 17</a>
          <a class="dropdown-item" href="#">Bussiness 23</a>
          <a class="dropdown-item" href="#">Bussiness 25</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Engineering Streams</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Engineering</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <a href="/">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Logout</button>
      </a>
    </form>
  </div>
</nav>

<div class="row main-div">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="scrollable">
      <ul class="list-group list-items">
        <a href="/admin/score">
          <li class="list-group-item text-center">Student Name</li>
        </a>
        <a href="/admin/score">
          <li class="list-group-item text-center">Student Name</li>
        </a>
        <a href="/admin/score">
          <li class="list-group-item text-center">Student Name</li>
        </a>
        <a href="/admin/score">
          <li class="list-group-item text-center">Student Name</li>
        </a>
        <a href="/admin/score">
          <li class="list-group-item text-center">Student Name</li>
        </a>
        <a href="/admin/score">
          <li class="list-group-item text-center">Student Name</li>
        </a>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
        <li class="list-group-item text-center">Student Name</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>