<!doctype html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Admin Search</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="main.css" />

<script src="main.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navigation-bar">
    <img class="sparta-logo" src="/Assets/SpartaLogo.png" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Classes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @course.each do |course| %>
            
            <form class="dropdown-item" method="POST" action="/admin/search">
               <input name= "course" type="submit" value="<%= course%>" >
            </form>
         <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Engineering</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <a href="/">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button">Logout</button>
        </a>
      </form>
    </div>
  </nav>

  <div class="row main-div">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="scrollable">
        <ul class="list-group list-items">
         <% @students.each do |student| %>
         <form method="POST" action="/admin/result"> 
          <li name ="studentName" type="submit" class="list-group-item text-center"><input style = "width: 100%; Height: 40px" name= "studentName" type="submit" value="<%= student['firstname']%> <%= student['lastname']%>" ></li>
               
            </form>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>