<body>

  <div class="row result_row">
    <div class="col-lg-12">
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 result_grey_box">
      <h1>SQL Assesment</h1>
    </div>
    <div class="col-lg-2">
    </div>
  </div>

  <div class="row result_row">
    <div class="col-lg-12">
    </div>
  </div>

  <div class="result_table_border">
    <div class="row text-center">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-4">
        <form method="get" action="/admin/login">
          <button class="btn btn-primary" type="submit">
            <h2>Admin</h2>
          </button>
        </form>
      </div>
      <div class="col-lg-4">
        <form method="get" action="/student/login">
          <button class="btn btn-primary" type="submit">
            <h2>Student</h2>
          </button>
        </form>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>


</body>

</html>