<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <h1 class="info_title"> HOW TO USE</h1>
    <h2>Admin Info</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum tenetur ab molestiae, libero, recusandae aliquam
      repellendus voluptatibus inventore itaque ipsum nulla ullam? Totam aliquam molestias consequatur facere,
      perferendis natus reiciendis!</p>
    <h2>Student Info</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sed consequatur ipsum repellendus inventore
      ipsa illo nulla. Nisi, obcaecati tenetur ullam expedita, quaerat eligendi consequuntur quidem ipsa praesentium
      et corrupti.</p>
    <h2>How to Save</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, necessitatibus laborum. Optio, beatae
      omnis deserunt nam obcaecati, fugiat, necessitatibus provident eum nemo sunt consequatur hic temporibus debitis
      eos tenetur maiores?</p>
  </div>
  <div class="col-lg-3"></div>
</div>

<div class="row text-center">
  <div class="col-lg-3"></div>
  <div class="col-lg-6"><button type="button" onclick="goback()" class="btn btn-info">Back</button></div>
  <div class="col-lg-3"></div>
</div>