<%= erb(:'partials/_header_questions', :layout => false) %>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <h4>3.3 Add a new column after End Date headed “Check Date” which uses the DATEADD function to add 8 weeks to the
      Start Date column for BA Test courses and 12 weeks for any others. (5 marks)</h4>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="form-group">
      <label for="comment">Type Your Answer:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <button type="button" class="btn btn-primary">Check</button>

  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-light"><i class="fa fa-flag"></i></button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="panel panel-default" style="background-color:grey">
      <div class="panel-body">SQL Output</div>
    </div>
  </div>
<<<<<<< HEAD
  <div class="col-lg-2"></div>
</div>
<br>
<%= erb(:'partials/_footer_questions', :layout => false) %>
=======

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>
>>>>>>> b55f3db12719e74e93bb84b2077c23d99f43b193
