<div class="row">
  <div class="col-lg-2">
    <h2>Question-3</h2>
  </div>
  <div class="col-lg-8"></div>
  <div class="col-lg-2">
    <a href="/"> <button type="button" class="btn btn-danger">Save & Exit</button></div></a>
</div>
<br>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <h4>3.3 Add a new column after End Date headed “Check Date” which uses the DATEADD function to add 8 weeks to the
      Start Date column for BA Test courses and 12 weeks for any others. (5 marks)</h4>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="form-group">
      <label for="comment">Type Your Answer:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <button type="button" class="btn btn-primary">Check</button>

  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-light"><i class="fa fa-flag"></i></button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="panel panel-default" style="background-color:grey">
      <div class="panel-body">SQL Output</div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
<br>
<div class="row text-center">
  <div class="col-lg-2">
    <a href="/question/2"><button type="button" class="btn btn-primary">Back</button></div></a>
  <div class="col-lg-8">
    <a href="/info"><button type="button" class="btn btn-info">Info</button></div></a>
  <div class="col-lg-2">
    <a href="/student/review"><button type="button" class="btn btn-primary">Review</button></div></a>
</div>