<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Question 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-lg-2">
            <h2>Question-2</h2>
        </div>
        <div class="col-lg-8"></div>
        <div class="col-lg-2">
            <div class="col-lg-2">
                <a href="/"><button type="button" class="btn btn-danger">Save & Exit</button></div></a>
        </div>
    </div>
    <br>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Academy</th>
                    <th>Room</th>
                    <th>Trainer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Eng-21</td>
                    <td>01/01/2018</td>
                    <td>31/12/2018</td>
                    <td>Richmond</td>
                    <td>Pacman</td>
                    <td>Artur Kondas</td>
                </tr>
                <tr>
                    <td>Eng-21</td>
                    <td>01/01/2018</td>
                    <td>31/12/2018</td>
                    <td>Richmond</td>
                    <td>Pacman</td>
                    <td>Artur Kondas</td>
                </tr>
                <tr>
                    <td>Eng-21</td>
                    <td>01/01/2018</td>
                    <td>31/12/2018</td>
                    <td>Richmond</td>
                    <td>Pacman</td>
                    <td>Artur Kondas</td>
                </tr>
                <tr>
                    <td>Eng-21</td>
                    <td>01/01/2018</td>
                    <td>31/12/2018</td>
                    <td>Richmond</td>
                    <td>Pacman</td>
                    <td>Artur Kondas</td>
                </tr>
                <tr>
                    <td>Eng-21</td>
                    <td>01/01/2018</td>
                    <td>31/12/2018</td>
                    <td>Richmond</td>
                    <td>Pacman</td>
                    <td>Artur Kondas</td>
                </tr>
                <tr>
                    <td>Eng-21</td>
                    <td>01/01/2018</td>
                    <td>31/12/2018</td>
                    <td>Richmond</td>
                    <td>Pacman</td>
                    <td>Artur Kondas</td>
                </tr>
                <tr>
                    <td>Eng-21</td>
                    <td>01/01/2018</td>
                    <td>31/12/2018</td>
                    <td>Richmond</td>
                    <td>Pacman</td>
                    <td>Artur Kondas</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h4>2.1. Design and build suitable table. (10 marks)</h4>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="form-group">
                <label for="comment">Type Your Answer:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <button type="button" class="btn btn-primary">Check</button>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-light"><i class="fa fa-flag" style="font-size: 25px"></i></button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default" style="background-color:grey">
                <div class="panel-body">SQL Output</div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-lg-2">
            <a href='/question/1'><button type="button" class="btn btn-primary">Back</button></div></a>
        <div class="col-lg-8">
            <a href='/info'><button type="button" class="btn btn-info">Info</button></div></a>
        <div class="col-lg-2">
            <a href='/question/3'> <button type="button" class="btn btn-primary">Next</button></div></a>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>