<div class="container">
    <form method="get" action="/" style="margin-left:90% ">
        <button class="btn btn-danger" type="submit">Save & Exit</button>
    </form>
    <div class="container">
        <h1>
            Review Questions
        </h1>
        <div class="row">
            <div class="col-lg-12"></div>
        </div>
        <div class="row">
            <div class="col-lg-1 empty-side-left">


            </div>
            <div class="col-lg-10 centerQ">

                <div class="row question-1">
                    <div class="col-lg-2">
                        <h1>1.1</h1>
                    </div>
                    <div class="col-lg-8">
                        <form>
                            <div class="form-group">
                                <label for="question-1-text" class="flaggedQ">Lorem ipsum dolor sit amet
                                    consectetur
                                    adipisicing elit.
                                    Voluptates doloremque ratione vel omnis harum aspernatur repellat cupiditate
                                    earum
                                    obcaecati, eos temporibus quidem perferendis mollitia quos ducimus labore animi
                                    similique nam.</label>
                                <textarea class="form-control" id="question-1-text" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-light flag"><i class="fa fa-flag" style="color:red; font-size: 25px"></i></button>
                    </div>
                </div>

                <div class="row question-2">
                    <div class="col-lg-2">
                        <h1>1.2</h1>
                    </div>
                    <div class="col-lg-8">

                        <form>
                            <div class="form-group">
                                <label for="question-1-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit.
                                    Voluptates doloremque ratione vel omnis harum aspernatur repellat cupiditate
                                    earum
                                    obcaecati, eos temporibus quidem perferendis mollitia quos ducimus labore animi
                                    similique nam.</label>
                                <textarea class="form-control " rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-light flag"><i class="fa fa-flag" style="font-size: 25px"></i></button>
                    </div>
                </div>
                <div class="row question-3">

                    <div class="col-lg-2">
                        <h1>2</h1>
                    </div>
                    <div class="col-lg-8">

                        <form>
                            <div class="form-group">
                                <label for="question-1-text" class="flaggedQ">Lorem ipsum dolor sit amet
                                    consectetur
                                    adipisicing
                                    elit.
                                    Voluptates doloremque ratione vel omnis harum aspernatur repellat cupiditate
                                    earum
                                    obcaecati, eos temporibus quidem perferendis mollitia quos ducimus labore animi
                                    similique nam.</label>
                                <textarea class="form-control" id="question-1-text" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1">
                        
                        <button type="button" class="btn btn-light flag"><i class="fa fa-flag" style="color:red; font-size: 25px"></i></button>
                    </div>
                </div>
                <div class="row question-2">
                    <div class="col-lg-2">
                        <h1>3</h1>
                    </div>
                    <div class="col-lg-8">

                        <form>
                            <div class="form-group">
                                <label for="question-1-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit.
                                    Voluptates doloremque ratione vel omnis harum aspernatur repellat cupiditate
                                    earum
                                    obcaecati, eos temporibus quidem perferendis mollitia quos ducimus labore animi
                                    similique nam.</label>
                                <textarea class="form-control" id="question-1-text" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-light flag"><i class="fa fa-flag" style="font-size: 25px"></i></button>
                    </div>
                    <div class="row question-3">

                        <div class="col-lg-2">
                            <h1>3.1</h1>
                        </div>
                        <div class="col-lg-8">

                            <form>
                                <div class="form-group">
                                    <label for="question-1-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.
                                        Voluptates doloremque ratione vel omnis harum aspernatur repellat
                                        cupiditate
                                        earum
                                        obcaecati, eos temporibus quidem perferendis mollitia quos ducimus labore
                                        animi
                                        similique nam.</label>
                                    <textarea class="form-control" id="question-1-text" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-light flag"><i class="fa fa-flag" style="font-size: 25px"></i></button>


                        </div>
                    </div>
                </div>


                <div class="col-lg-3 empty-side-right">

                </div>

            </div>
        </div>
    </div>

    <nav>
        <div class="row text-center">

            <div class="col-lg-4"><a href='/question/3'><button type="button" class="btn btn-primary">Back</button></div>
            </a>

            <div class="col-lg-4"><a href='/info'><button type="button" class="btn btn-info">Info</button></div>
            </a>
            <div class="col-lg-4">
                <a href='/student/score'>
                    <button type="button" class="btn btn-primary">Submit</button>
                </a>
            </div>
        </div>
    </nav>

</div>