<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8"></div>
    <div class="col-lg-2">
        <a href="/"> <button type="button" class="btn btn-danger">Save & Exit</button></div></a>
</div>

<div class="row score_page-result_row">
    <div class="col-lg-12">
    </div>
</div>

<div class="row score_page-result_table">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 result_grey_box">
        <h3>Score:</h3>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row score_page-result_row">
    <div class="col-lg-12"><p>_</p>
    </div>
</div>

<div class="score_page-result_table_border">
    <div class="row score_page-result_table">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2 score_page-result_grey">
            <p><b>Name</b></p>
        </div>
        <div class="col-lg-2 score_page-result_grey">
            <p>John Smith</p>
        </div>
        <div class="col-lg-2 score_page-result_grey">
            <p><b>Score</b></p>
        </div>
        <div class="col-lg-2 score_page-result_grey">
            <p>0 / 30 Points ( 0% )</p>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row score_page-result_table">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2">
            <p><b>Correct Answers</b></p>
        </div>
        <div class="col-lg-2">
            <p>1</p>
        </div>
        <div class="col-lg-2">
            <p><b>Incorrect answers</b></p>
        </div>
        <div class="col-lg-2">
            <p>2</p>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row score_page-result_table">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2 score_page-result_grey">
            <p><b>Unanswered</b></p>
        </div>
        <div class="col-lg-2 score_page-result_grey">
            <p>1</p>
        </div>
        <div class="col-lg-2 score_page-result_grey">
            <p><b>Passing Grade</b></p>
        </div>
        <div class="col-lg-2 score_page-result_grey">
            <p>65 %</p>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row score_page-result_table">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2">
            <p><b>Time Submitted</b></p>
        </div>
        <div class="col-lg-2">
            <p>1 min 6 secs</p>
        </div>
        <div class="col-lg-2">
            <p><b>Passing Grade Retake</b></p>
        </div>
        <div class="col-lg-2">
            <p>80 %</p>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>

<div class="row score_page-result_row">
    <div class="col-lg-12"><p>_</p>
    </div>
</div>

<div class="row score_page-result_table">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 score_page-result_grey_box">
        <h3>Result:</h3> <p>PASS</p>
    </div>
    <div class="col-lg-2">
    </div>
</div>