<div>

  <div class="login">

    <div class="row">

      <div class="col-lg-4">
      </div>

      <div class="col-lg-4">
        <div>
          <h1 class="sql-header">Student Login</h1>

          <form>
            <div class="form-group">
              
              <label for="firstNameLabel">Email</label>
              <input type="name" class="form-control" id="" aria-describedby="email" placeholder="Enter Email Address">
            </div>
            <div class="form-group">
              <label for="lastNameLabel">Password</label>
              <input type="name" class="form-control" id="" aria-describedby="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Database Type</label>
              <br>
              <select id="dbtype" name="dbtype">
                <option value="MySQL">MySQL</option>
                <option value="Postgres">Postgres</option>
                <option value="SQL">SQL</option>
              </select>

            </div>

            <a href="/">
              <button type="button" class="btn btn-primary">Back</button>
            </a>

            <a href="/question/1">

              <button type="button" class="btn btn-primary">Login</button>
            </a>
          </form>
          </form>



        </div>
      </div>


      <div class="col-lg-4"></div>
    </div>
    <div class="row">
    </div>
  </div>
</div>
